$color-primary: #1ee2e7;
$color-secondary: #8f8f8f50;
$color-tertiary: #777;
$card-bg: rgba(29, 29, 29, 0.116);
$gray: #f8f8f8f5;

$breakpoints-min: (
  tablet: 767px,
  desktop: 992px,
);

$breakpoints-max: (
  phone: 766px,
  tablet: 991px,
);
