html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: url("../../media/images/supermarché.webp");
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
